<!-- <div
    class="relative pt-[21px] md:h-[821px] h-[470px] bg-gray-900 flex flex-col items-center justify-start md:text-[5rem] text-[3rem] text-white font-[ahaleel] text-center text-[#EB6D12]">
    <h1 class="pt-[27px]">{{section.name}}</h1>
    <img [src]="section.image"
        class="absolute md:h-[721px] h-[400px] shadow-lg bottom-[-15%] rounded-lg p-3 z-9 w-[80%] bg-[white] left-[50%] -translate-x-[50%]">
</div> -->
@defer (on idle) {
<div class="w-[91%] pt-[50px] pb-[35px] mx-auto font-[Cairo]">
    <h3 class="text-center pb-5 text-[32px]">اعمالنا</h3>
    <div class="flex flex-wrap justify-around">

        @for (item of parts; track $index) {
        <div  class="relative max-w-[49rem] flex w-[20rem] min-w-[270px] m-[21px] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-lg">
            <div (click)="openDialog(); addDialogData(item.imgUrl)"
                class="relative cursor-pointer mx-2 mt-4 overflow-hidden text-white shadow-lg rounded-xl bg-blue-gray-500 bg-clip-border shadow-blue-gray-500/40">
                <img src=".{{item.imgUrl[0]}}" alt="ui/ux review check" />
                <div
                    class=" bsolute inset-0 w-full h-full to-bg-black-10 bg-gradient-to-tr from-transparent via-transparent to-black/60">
                </div>
                <button
                    class="!absolute  top-4 right-4 h-8 max-h-[32px] w-8 max-w-[32px] select-none rounded-full text-center align-middle font-sans text-xs font-medium uppercase text-red-500 transition-all hover:bg-red-500/10 active:bg-red-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                    type="button">
                    <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                            <path
                                d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z">
                            </path>
                        </svg>
                    </span>
                </button>
            </div>
            <div class="p-3">
            </div>
        </div>
        }

    </div>

</div>
}


