<div [ngClass]="{'show':true}" class="relative" >
    <button mat-icon-button mat-dialog-close class="inline-block pt-3 pb-2 px-2 text-[21px] text-white absolute top-[10px] left-[10px] z-[9999999999]">
        <mat-icon>close</mat-icon>
    </button>

    <div class="w-[100%] h-[100%] slide bg-white absolute">
        <img [src]="dialogData[counter]" alt="">
    </div>



    <div class="absolute top-[50%] right-[10px] select-none cursor-pointer" (click)="maxmizingCounter()">
        <img src="./assets/images/arrow-left-5-svgrepo-com.svg" style="width: 51px; background-color: #FFF; transform: rotate(180deg);" alt="arrow-left-5-svgrepo-com.svg">
    </div>
    <div class="absolute top-[50%] left-[10px] select-none cursor-pointer" (click)="minimizingCounter()">
        <img src="./assets/images/arrow-left-5-svgrepo-com.svg" style="width: 51px; background-color: #FFF;" alt="arrow-left-5-svgrepo-com.svg">
    </div>
</div>