<div ngClass="who-is-us">
    <h2 ngClass="text-center font-[Cairo] text-[2.7rem] my-[35px] py-[49px] text-[#db5156]">تعرف اي عن ميديا جلو؟</h2>
    <div ngClass="flex justify-around flex-col-reverse md:flex-row">
        <div ngClass="w-[100%] md-w-[40%]"> 
            <h3 ngClass="font-[Cairo] text-[1.5rem] pb-[21px] text-center"> ميديا جلو - للدعاية والاعلان</h3>
            <p class="w-[95%] min-w-[270px] leading-[35px] mx-auto">
                {{whoIsUs}}
            </p>
        </div>

        <div ngClass="w-[100%] md-w-[60%]">
            <img src="/assets/images/home-about.jpg" class=" block mx-auto w-[80%]" alt="">
        </div>
    </div>
</div>